extends layout

block content
	h1 Add User
	form(name='addUser', method='post', action='/addUser')
		div
			input#inputEmail(type='text', placeholder='Enter Email', name='email')
		div
			input#inputFirstName(type='text', placeholder='Enter Firstname', name='firstname')
		div
			input#inputLastName(type='text', placeholder='Enter Lastname', name='lastname')
		div
			input#inputUserName(type='text', placeholder='Enter username', name='username')
		div
			input#inputPassword(type='text', placeholder='Enter Password', name='password')
		div
			button#btnSubmit(type='submit') SignUp