<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<body class="container">

<main>
    <h1>
		Welcome to our website
	</h1>
	<div>
		<% users.forEach(function(users) { %>	
			<h2><%= users.firstname %> </h2>
		<% }); %>
	</div>
</main>

</body>

</html>